@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-21 11:00:26
 * @version $Id$
 */
header {
	padding-top: 100px;
	padding-bottom: 60px;
}
header h1{
	font-size: 80px;
	text-align: center;
}

nav {
	position:relative;
	left:50%;
	transform: translate(-50%,0);
	width: 80%;

}
main .views{
	position:relative;
	left: 50%;
	transform: translate(-50%,0);
	max-width: 600px;
}